body {
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./img/city.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    filter: brightness(0.9);
}

header img {
    width: 200px;
    height: 200px;
    border: 7px solid rgb(160, 0, 160);
    border-radius: 60%;
    box-shadow:
    1px -1px 0 #2f5d87,
    2px -2px 0 #2e5a83,
    3px -3px 0 #2d5880,
   
    3px -3px 1px rgba(0, 0, 0, 0.55),
    3px -3px 1px rgba(0, 0, 0, 0.5); 
}

.center{
    text-align: center;
}

h1 {
    color: rgb(160, 0, 160);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow:  
    1px -1px 0 #2f5d87,
    2px -2px 0 #2e5a83,
    3px -3px 0 #2d5880,
   
    3px -3px 1px rgba(0, 0, 0, 0.55),
    3px -3px 1px rgba(0, 0, 0, 0.5);

    font-size: 60px;
}

h2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 45px;
    text-shadow:  
    1px -1px 0 #2f5d87,
    2px -2px 0 #2e5a83,
    3px -3px 0 #2d5880,
   
    3px -3px 1px rgba(0, 0, 0, 0.55),
    3px -3px 1px rgba(0, 0, 0, 0.5);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fundo{
    background-color: rgb(160, 0, 160);
    border-radius: 10px;
}

p {
    font-size: 35px;
    text-shadow:  
      1px -1px 0 #2f5d87,
      2px -2px 0 #2e5a83,
      3px -3px 0 #2d5880,
      3px -3px 1px rgba(0, 0, 0, 0.55),
      3px -3px 1px rgba(0, 0, 0, 0.5);
}

footer img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    justify-content: last baseline;
}

footer a {
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

footer p {
    margin-top: 2px;
}

.com {
    padding: 50px 75px;
}